@font-face {
  font-family: "AlJazeera";
  src: local("AlJazeera"),
    url(../fonts/ArbFONTS-Al-Jazeera-Arabic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "AlJazeera-Bold";
  src: local("AlJazeera-Bold"),
    url(../fonts/ArbFONTS-Al-Jazeera-Arabic-Bold.ttf) format("truetype");
}

html {
  /* font-family: sans-serif; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "AlJazeera";
}
hr {
  margin:0;
  border-bottom-color: #666666;
}
h1, h2,h3,h4,h5 {
  margin:0
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-family: Aljazeera;
}
a:active,
a:hover {
  outline-width: 0;
  cursor: pointer;
  color:black;
  font-weight: 900;
}
html {
  /* font: 112.5%/1.45em georgia, serif; */
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-family: "AlJazeera";
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  font-family: "AlJazeera";
  font-size: 1.6vw
}

p,
h1,
h2,
h3,
h4 {
  text-align: right;
}

footer {
  display: flex;
  align-self: baseline;
  justify-content: center;
  padding-top: 5px;
  background-color: black;
}

footer p {
  margin: 5px;
  color: white;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
